/* @1x */

$sprite--dummy-44-at1x()
  $X = 1
  display block
  box-sizing border-box
  width 44px * (1 / $X)
  height 44px * (1 / $X)
  background-image url("bundle-20160119021900@1x.png")
  background-position 0px * (1 / $X) 0px * (1 / $X)
  background-size 44px * (1 / $X) 44px * (1 / $X)

.sprite--dummy-44-at1x
  $X = 1
  padding-top 44px * (1 / $X)
  width 44px * (1 / $X)
  background-image url("bundle-20160119021900@1x.png")
  background-position 0px * (1 / $X) 0px * (1 / $X)
  background-size 44px * (1 / $X) 44px * (1 / $X)
