/* @2x */

$sprite--dummy-88-at2x()
  $X = 2
  display block
  box-sizing border-box
  width 88px * (1 / $X)
  height 88px * (1 / $X)
  background-image url("bundle-20160119021900@2x.png")
  background-position 0px * (1 / $X) 0px * (1 / $X)
  background-size 88px * (1 / $X) 88px * (1 / $X)

.sprite--dummy-88-at2x
  $X = 2
  padding-top 88px * (1 / $X)
  width 88px * (1 / $X)
  background-image url("bundle-20160119021900@2x.png")
  background-position 0px * (1 / $X) 0px * (1 / $X)
  background-size 88px * (1 / $X) 88px * (1 / $X)
