mixin html

  //-
    - Usage: +html(lang="en")

  -
    var defaultLang = 'ja'

    if (!attributes.lang || attributes.lang === '')
      attributes.lang = defaultLang

  doctype html
  html.html&attributes(attributes)
    block
