@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic")

@font-face
  font-family "Hiragino Sans"
  font-weight normal
  src local(HiraginoSans-W3)

@font-face
  font-family "Hiragino Sans"
  font-weight bold
  src local(HiraginoSans-W6)

@import "../../../node_modules/normalize.css/normalize.css"
@import "../../../node_modules/morph.css/morph.css"

@import "kouto-swiss"
