include /html_elements/lib/main

-
  var title = '+checkbox | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter
        p
          label
            input(type="checkbox")
            +space
            | A:
            +space
            code.code input(type="checkbox")
        p
          label
            +checkbox
            +space
            | B:
            +space
            code.code +checkbox
        p
          +checkbox
          +space
          | C: Without 
          code.code label
