include /html_elements/lib/main

-
  var title = '+sprite | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter

        h1
          | sprite

        p
          +sprite(src="dummy-44@1x.png" alt="dummy@1x")
          +_
          code.code
            | +sprite(src="dummy-44@1x.png" alt="dummy@1x")

        p
          +sprite(src="dummy-88@2x.png" alt="dummy@2x")
          +_
          code.code
            | +sprite(src="dummy-88@2x.png" alt="dummy@2x")
