include /html_elements/lib

-
  var description = 'Small Code for the Larger Site'

  var breadcrumbs = {
    items: []
  }

+html
  +head
    +title
    +description
  +body
    +page
      .page__gutter
        include /html_elements/blocks/breadcrumbs
