.u-font

  &-xxsmall:not(:root):not(:root)
    font-size xx-small

  &-xsmall:not(:root):not(:root)
    font-size x-small

  &-small:not(:root):not(:root)
    font-size small

  &-medium:not(:root):not(:root)
    font-size medium

  &-large:not(:root):not(:root)
    font-size large

  &-xlarge:not(:root):not(:root)
    font-size x-large

  &-xxlarge:not(:root):not(:root)
    font-size xx-large
