.u-line

  &-narrow:not(:root):not(:root)
    line-height narrow

  &-wide:not(:root):not(:root)
    line-height wide

  &-xwide:not(:root):not(:root)
    line-height x-wide

  &-xxwide:not(:root):not(:root)
    line-height xx-wide

  for value in "1" "2"

    &-{value}:not(:root):not(:root)
      line-height unquote(value)
