.u-padding

  for value in "1em" "10px"

    &-{value}:not(:root):not(:root)
      padding unquote(value)

    &-tb-{value}:not(:root):not(:root)
      padding-top unquote(value)
      padding-bottom unquote(value)
