.u-font

  :root &-xxsmall:not(:root)
    font-size xx-small

  :root &-xsmall:not(:root)
    font-size x-small

  :root &-small:not(:root)
    font-size small

  :root &-medium:not(:root)
    font-size medium

  :root &-large:not(:root)
    font-size large

  :root &-xlarge:not(:root)
    font-size x-large

  :root &-xxlarge:not(:root)
    font-size xx-large
