.u-line

  :root &-narrow:not(:root)
    line-height narrow

  :root &-wide:not(:root)
    line-height wide

  :root &-xwide:not(:root)
    line-height x-wide

  :root &-xxwide:not(:root)
    line-height xx-wide

  for value in "1" "2"

    :root &-{value}:not(:root)
      line-height unquote(value)
