.u-margin

  for value in "0" "1em" "1rem"

    :root &-{value}:not(:root)
      margin unquote(value)

    :root &-t-{value}:not(:root)
      margin-top unquote(value)

    :root &-b-{value}:not(:root)
      margin-bottom unquote(value)

    :root &-tb-{value}:not(:root)
      margin-top unquote(value)
      margin-bottom unquote(value)
