include /html_elements/lib

-
  var title = 'font-family | Tests'

+html
  +head
    +title
  +body
    +page
      .page__gutter
        h1 font-family
        ul
          li
            dl
              dt
                code.code
                  | .u-font-sansserif
              dd.div.u-font-sansserif
                p
                  | Apple は 1984 年に Macintosh を登場させ、パーソナルテクノロジーに革命を起こしました。今日 Apple は、iPhone、iPad、Mac、Apple Watch、Apple TV により世界のイノベーションを牽引しています。Apple の4つのソフトウェアプラットフォーム − iOS、OS X、watchOS、tvOS − はすべての Apple 製品でシームレスな体験を提供するとともに、App Store、Apple Music、Apple Pay、iCloud といった画期的なサービスで人々の可能性を拡げています。Apple の 10 万人の社員は世界で最も素晴らしい製品を創り出すこと、そして自分たちが生まれてきた世界をさらに良いものとして次世代へ残すことに邁進しています。
          li
            dl
              dt
                code.code
                  | .u-font-serif
              dd.div.u-font-serif
                p
                  | Apple は 1984 年に Macintosh を登場させ、パーソナルテクノロジーに革命を起こしました。今日 Apple は、iPhone、iPad、Mac、Apple Watch、Apple TV により世界のイノベーションを牽引しています。Apple の4つのソフトウェアプラットフォーム − iOS、OS X、watchOS、tvOS − はすべての Apple 製品でシームレスな体験を提供するとともに、App Store、Apple Music、Apple Pay、iCloud といった画期的なサービスで人々の可能性を拡げています。Apple の 10 万人の社員は世界で最も素晴らしい製品を創り出すこと、そして自分たちが生まれてきた世界をさらに良いものとして次世代へ残すことに邁進しています。
          li
            dl
              dt
                code.code
                  | .u-font-monospace
              dd.div.u-font-monospace
                p
                  | Apple は 1984 年に Macintosh を登場させ、パーソナルテクノロジーに革命を起こしました。今日 Apple は、iPhone、iPad、Mac、Apple Watch、Apple TV により世界のイノベーションを牽引しています。Apple の4つのソフトウェアプラットフォーム − iOS、OS X、watchOS、tvOS − はすべての Apple 製品でシームレスな体験を提供するとともに、App Store、Apple Music、Apple Pay、iCloud といった画期的なサービスで人々の可能性を拡げています。Apple の 10 万人の社員は世界で最も素晴らしい製品を創り出すこと、そして自分たちが生まれてきた世界をさらに良いものとして次世代へ残すことに邁進しています。
