include /html_elements/lib/main

-
  var title = 'morph.css | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter
        
        h1 morph.css

        h2
          | .div

        ul
          li
            code.code
              | ul li
          li
            code.code
              | li
          li
            code.code
              | li

            ul.div
              li.div
                code.code
                  | ul.div li.div
              li.div
                code.code
                  | li.div
              li.div
                code.code
                  | li.div

                ul
                  li
                    code.code
                      | ul li
                  li
                    code.code
                      | li
                  li
                    code.code
                      | li

        h2
          | .span

        dl
          dt
            code.code
              | dt
          dd
            code.code
              | dd

        dl
          dt.span
            code.code
              | dt.span
          dd.span
            code.code
              | dd.span

        p(data-u-margin-t="1.5rem")
          a.button.button--tint(href="https://github.com/internets-inc/morph.css" target="_blank")
            | Learn more
