include /html_elements/lib/main

-
  var title = 'morph.css | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter
        
        h1 morph.css

        ul
          li
            code.code
              | ul li
          li
            code.code
              | ul li
          li
            code.code
              | ul li

            ul.div
              li.div
                code.code
                  | &amp; ul.div li.div
              li.div
                code.code
                  | &amp; ul.div li.div
              li.div
                code.code
                  | &amp; ul.div li.div

                ul
                  li
                    code.code
                      | &amp; ul li
                  li
                    code.code
                      | &amp; ul li
                  li
                    code.code
                      | &amp; ul li

        p
          a.button.button--link(href="https://github.com/internets-inc/morph.css" target="_blank")
            | Learn more
