include /html_elements/lib/main

-
  var title = 'morph.css | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter
        
        h1 morph.css

        ul
          li
            code.code
              | li
          li
            code.code
              | li
          li
            code.code
              | li

          li.div
            code.code
              | li.div
          li.div
            code.code
              | li.div
          li.div
            code.code
              | li.div

            ul
              li
                code.code
                  | li
              li
                code.code
                  | li
              li
                code.code
                  | li

        p
          a.button.button--link(href="https://github.com/internets-inc/morph.css" target="_blank")
            | Learn more
