mixin hx

  //-
    - Usage1: +hx
    - Usage2: +hx(x="2")

  -
    hx = hx || 0
    hx += 1

    if (hx > 6)
      hx = 6
  
    if (attributes.x && attributes.x.length)
      hx = attributes.x * 1

    var tag = 'h' + hx

    attributes.x = null

  #{tag}&attributes(attributes)
    block
