mixin select

  //-
    - Usage: +select

  -
    var classes = attributes.class
    attributes.class = null

  span.select(class=classes)
    select&attributes(attributes).select__self
      block
    span.select__arrow
