mixin title

  -
    var Title = ''
    var siteName  = 'small-web'
    var separator = ' | '
    var arr = []

    if (breadcrumbs && breadcrumbs.items)
      for (var i=0; i < breadcrumbs.items.length; i++)
        arr.unshift(breadcrumbs.items[i].text)
      arr.pop()
      Title = arr.join(separator)

    if (title)
      Title = title

  if Title.length
    title=Title+separator+siteName
  else
    title=siteName
