include /html_elements/lib/main

-
  var title = '+icon | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter

        h1
          | icon

        p
          +icon(name="ion-android-download")
          +_
          code.code
            | +icon(name="ion-android-download")

        p
          +icon(name="ion-android-volume-up")
          +_
          code.code
            | +icon(name="ion-android-volume-up")

        p
          +icon(name="ion-share")
          +_
          code.code
            | +icon(name="ion-share")

        p
          +icon(name="ion-social-github")
          +_
          code.code
            | +icon(name="ion-social-github")

        p
          a.button.button--link(href="http://ionicons.com" target="_blank")
            | Learn more
