include /html_elements/lib/main

-
  var title = '+icon | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter
        p
          +icon(name="ion-android-radio-button-off")
          +space
          code.code +icon(name="ion-android-radio-button-off")
        p
          +icon(name="ion-android-radio-button-on")
          +space
          code.code +icon(name="ion-android-radio-button-on")
        p
          +icon(name="ion-android-checkbox-outline-blank")
          +space
          code.code +icon(name="ion-android-checkbox-outline-blank")
        p
          +icon(name="ion-android-checkbox-outline")
          +space
          code.code +icon(name="ion-android-checkbox-outline")
