.u-padding

  for value in "1em" "10px"

    :root &-{value}:not(:root)
      padding unquote(value)

    :root &-tb-{value}:not(:root)
      padding-top unquote(value)
      padding-bottom unquote(value)
