.u-width

  :root &-full:not(:root)
    width 100%

  :root &-half:not(:root)
    width 50%

  :root &-third:not(:root)
    width 33%

  :root &-quarter:not(:root)
    width 25%

  for num in 1..100

    :root &-{num}0px:not(:root)
      width num * 10px

  for value in "768px"

    :root &-{value}:not(:root)
      width unquote(value)
