.box-usage-index

  & &__title
    padding 0.2em 1rem
    border-bottom 1px solid silver
    font-size xx-large
    font-weight bold
    background-color whitesmoke

  & &__label
    padding 0 1em
    color white
    font-size small
    line-height 1.5rem
    text-transform uppercase
    background-color gray

  & &__item
    position relative
    border-bottom 1px solid silver

  & &__link
    display block
    padding 1em

    &:hover
      background-color whitesmoke

  & &__code
    position absolute
    top 0
    right 0
    padding 1em
