.page

  &:not(:root)
    clear fix
    min-height 100%

  & &__layer
    clear fix
    position relative

  & &__gutter
    padding 0 1rem

  & &__body
    margin-left auto
    margin-right auto
    max-width $BODY_W

  & &__curl
    fixed 0 0 null null
    margin 0

    a
      position relative
      display block
      padding-top 3rem
      size 3rem 0
      overflow hidden
      background-image linear-gradient(to bottom left, whitesmoke, white)
      box-shadow 0 0 3px rgba(black, 0.5)

      &:before
        empty-content-block()
        absolute 0 null null 0
        border 1.5rem solid transparent
        border-top-color darkgray
        border-right-color darkgray
        size 0px
        overflow hidden
