.blockquote

  &:not(:root)
    margin 0

  &&--email
    margin-top 1em
    padding-left 0.5em
    border-left 2px solid
    color purple

  &&--email &--email
    color blue

  &&--email &--email &--email
    color green
