.checkbox

  &:not(:root)
    position relative

  & &__self
    position absolute
    z-index 2
    top 0.1em
    left 0
    opacity 0
    cursor pointer

  & &__status
    display inline-block
    size 1em
    font-family icon-font
    font-size 1.1em

    &:before
      content "\f372"
      position relative
      z-index 1
      top 1px

  & &__self:checked + &__status:before
    content "\f373"
    color blue
