include /html_elements/lib

-
  var breadcrumbs = {
    items: [
      {
        text: 'Home',
        href: '/'
      },{
        text: 'foo',
        href: false
      }
    ]
  }

+html
  +head
    +title
    +description
  +body
    +page
      .page__gutter
        include /html_elements/blocks/breadcrumbs
