include /html_elements/lib/main

-
  var title = 'Usage'

  var boxUsageIndex = {
    groups: [
      {
        label: 'blocks',
        items: [
          'breadcrumbs'
        ]
      },{
        label: 'elements',
        items: [
          'button',
          'icon',
          'sprite'
        ]
      },{
        label: 'scripts',
        items: [
          'smooth-scroll'
        ]
      }
    ]
  }

+html
  +head
    +title
  +body
    +page.page--lightgray
      +include("box-usage-index")
