include /html_elements/lib/main

-
  var title = 'Usage'

  var boxUsageIndex = {
    groups: [
      {
        label: 'blocks',
        items: [
          'breadcrumbs'
        ]
      },{
        label: 'mixins',
        items: [
          'checkbox',
          'hx',
          'icon',
          'radio',
          'select',
          'space',
          'sprite',
          'switch',
          'weak'
        ]
      },{
        label: 'elements',
        items: [
          'blockquote',
          'button',
          'code',
          'default',
          'form',
          'morph-css'
        ]
      },{
        label: 'scripts',
        items: [
          'placeholder-polyfill',
          'smooth-scroll'
        ]
      }
    ]
  }

+html
  +head
    +title
  +body.body--lightgray
    +page
      +include("box-usage-index")
