include /html_elements/lib/main

-
  var title = 'utils | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter

        h1
          | utils

        p.u-text-left
          code.code
            | .u-text-left

        p.u-text-center
          code.code
            | .u-text-center

        p.u-text-right
          code.code
            | .u-text-right

        p
          a.button.button--link(href="https://github.com/internets-inc/small-web/tree/master/html_elements/lib/prepend/utils" target="_blank")
            | Learn more
