.article
  @import "../../../node_modules/morph.css/src/morph"

  h1
    font-size xx-large

  h2
    font-size x-large

  h3
    font-size large

  h4
  h5
  h6
    margin 1em 0
    font-size medium
