html
  height 100%
  font-size REM

body
  min-height 100%
  font-family sans-serif
  font-size medium
  line-height narrow
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

a
  color blue
  text-decoration none

  &:hover
    text-decoration underline

tbody
thead
tfoot
  vertical-align inherit
