:root

  .u-text

    for str in left center right

      &--{str}
        text-align str

        &.is-important
          text-align str

  .u-vertical

    for str in top middle bottom

      &--{str}
        vertical-align str

        &.is-important
          vertical-align str

  .u-float

    for str in left right

      &--{str}
        float str

        &.is-important
          float str

  .u-clear

    for str in fix

      &--{str}
        clear str

        &.is-important
          clear str

  .u-line

    for str in 1 2

      &--{str}
        line-height str

        &.is-important
          line-height str

    &--narrow
      line-height narrow

      &.is-important
        line-height narrow

    &--wide
      line-height wide

      &.is-important
        line-height wide

    &--x-wide
      line-height x-wide

      &.is-important
        line-height x-wide

    &--xx-wide
      line-height xx-wide

      &.is-important
        line-height xx-wide

  .u-margin

    for str in "0" "0px" "1em" "1rem" "10px"

      &--t-{str}
        margin-top unquote(str)

        &.is-important
          margin-top unquote(str)

      &--b-{str}
        margin-bottom unquote(str)

        &.is-important
          margin-bottom unquote(str)

      &--tb-{str}
        margin-top unquote(str)
        margin-bottom unquote(str)

        &.is-important
          margin-top unquote(str)
          margin-bottom unquote(str)
