:root

  .u-text

    for str in "left" "center" "right"

      &--{str}
        text-align unquote(str)

        &.is-important
          text-align unquote(str)

  .u-margin

    for str in "0" "0px" "1em" "1rem" "10px"

      &--t-{str}
        margin-top unquote(str)

        &.is-important
          margin-top unquote(str)

      &--b-{str}
        margin-bottom unquote(str)

        &.is-important
          margin-bottom unquote(str)

      &--tb-{str}
        margin-top unquote(str)
        margin-bottom unquote(str)

        &.is-important
          margin-top unquote(str)
          margin-bottom unquote(str)
