// CONSTANTS
REM = 16px
BODY = 980px

// FONT FAMILY
serif      = unquote('Georgia, serif')
sans-serif = unquote('"メイリオ", "Open Sans", sans-serif')
monospace  = unquote('Monaco, Menlo, monospace')
icon-font  = Ionicons

// FONT SIZE
ks-rem-base = REM
xx-small    = rem(9px)
x-small     = rem(11px)
small       = rem(13px)
medium      = rem(16px)
large       = rem(18px)
x-large     = rem(21px)
xx-large    = rem(30px)

// LINE HEIGHT
narrow  = 1.25
wide    = 1.5
x-wide  = 1.618
xx-wide = 1.75

// BREAK POINT
tablet  = 767px
phablet = 480px
phone   = 320px

// COLOR PALETTE
black      = hsl(190,  10%,  20%) // hsl(  0,   0%,   0%)
dimgray    = hsl(204,  19%,  26%) // hsl(  0,   0%,  41%)
gray       = hsl(206,  18%,  45%) // hsl(  0,   0%,  50%)
darkgray   = hsl(210,  13%,  66%) // hsl(  0,   0%,  66%)
silver     = hsl(200,  10%,  83%) // hsl(  0,   0%,  75%)
lightgray  = hsl(  0,   0%,  96%) // hsl(  0,   0%,  83%)
whitesmoke = hsl(  0,   0%,  98%) // hsl(  0,   0%,  96%)
brown      = hsl(  0,  59%,  41%) // hsl(  0,  59%,  41%)
maroon     = hsl(  0, 100%,  25%) // hsl(  0, 100%,  25%)
red        = hsl(  0, 100%,  50%) // hsl(  0, 100%,  50%)
salmon     = hsl(  6,  93%,  71%) // hsl(  6,  93%,  71%)
tomato     = hsl(  9, 100%,  64%) // hsl(  9, 100%,  64%)
chocolate  = hsl( 25,  75%,  47%) // hsl( 25,  75%,  47%)
tan        = hsl( 34,  44%,  69%) // hsl( 34,  44%,  69%)
wheat      = hsl( 39,  77%,  83%) // hsl( 39,  77%,  83%)
orange     = hsl( 39, 100%,  50%) // hsl( 39, 100%,  50%)
gold       = hsl( 51, 100%,  50%) // hsl( 51, 100%,  50%)
khaki      = hsl( 54,  77%,  75%) // hsl( 54,  77%,  75%)
beige      = hsl( 60,  56%,  91%) // hsl( 60,  56%,  91%)
olive      = hsl( 60, 100%,  25%) // hsl( 60, 100%,  25%)
yellow     = hsl( 60, 100%,  50%) // hsl( 60, 100%,  50%)
green      = hsl(120, 100%,  25%) // hsl(120, 100%,  25%)
lime       = hsl(120, 100%,  50%) // hsl(120, 100%,  50%)
teal       = hsl(180, 100%,  25%) // hsl(180, 100%,  25%)
aqua       = hsl(180, 100%,  50%) // hsl(180, 100%,  50%)
skyblue    = hsl(197,  71%,  73%) // hsl(197,  71%,  73%)
navy       = hsl(240, 100%,  25%) // hsl(240, 100%,  25%)
blue       = hsl(214,  50%,  50%) // hsl(240, 100%,  50%)
indigo     = hsl(275, 100%,  25%) // hsl(275, 100%,  25%)
violet     = hsl(300,  76%,  72%) // hsl(300,  76%,  72%)
purple     = hsl(300, 100%,  25%) // hsl(300, 100%,  25%)
fuchsia    = hsl(300, 100%,  50%) // hsl(300, 100%,  50%)
crimson    = hsl(348,  83%,  47%) // hsl(348,  83%,  47%)
pink       = hsl(350, 100%,  88%) // hsl(350, 100%,  88%)

// KOUTO SWISS
ks-support-ie              = 9
ks-support-android-browser = true
ks-support-android-chrome  = true
ks-support-android-firefox = true
ks-vendors-prefixes        = webkit moz ms o
