include /html_elements/lib/main

-
  var title = 'form | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter

        form

          dl
            dt
              label.label(for="input") .input
            dd.div
              p
                input.input#input(type="input" placeholder="placeholder" value="")
                +space
                button.button(type="button") .button

          dl
            dt
              label.label(for="password") password
            dd.div
              p
                input.input#password(type="password" value="")

          dl
            dt
              label.label(for="select") +select
            dd.div
              p
                +select#select
                  option(value="") option
                  option(value="") The quick
                  option(value="") brown fox
                  option(value="") jumps over a lazy dog
                +space
                button.button(type="button") .button

          dl
            dt +radio
            dd.div
              ul.ul.ul--narrow-gutter.u-margin--tb-1em
                li.div
                  p
                    label.label
                      +radio(name="radio" value="")
                      +space
                      | Radio
                li.div
                  p
                    label.label
                      +radio(name="radio" value="")
                      +space
                      | Radio
                li.div
                  p
                    label.label
                      +radio(name="radio" value="")
                      +space
                      | Radio

          dl
            dt +checkbox
            dd.div
              ul.ul.ul--narrow-gutter.u-margin--tb-1em
                li.div
                  p
                    label.label
                      +checkbox(name="checkbox" value="")
                      +space
                      | Checkbox
                li.div
                  p
                    label.label
                      +checkbox(name="checkbox" value="")
                      +space
                      | Checkbox
                li.div
                  p
                    label.label
                      +checkbox(name="checkbox" value="")
                      +space
                      | Checkbox

          dl
            dt
              label.label(for="textarea") .textarea
            dd.div
              p
                textarea.textarea#textarea(placeholder="placeholder" value="")

          p.u-text--center
            button.button(type="button") .button
            button.button(type="button") .button
