.box-tests-index

  & &__header
    padding 0 1rem
    color white
    font-size xx-large
    font-weight bold
    line-height 2
    background-color darkgray

  & &__footer
    margin-bottom 2rem
    padding-top 1rem
    border-top 1px solid silver
    font-size xx-large
    text-align center

  & &__category
    padding 0 1em
    color white
    font-size small
    line-height wide * 1rem
    text-transform uppercase
    background-color gray

  & &__item
    border-top 1px solid silver
    background-color white

    &:first-of-type
      border-top 0

  & &__link
    display block
    padding 1rem

    &:hover
      background-color whitesmoke

  & &__jade
    absolute 1rem 1rem null null
