include /html_elements/lib/main

-
  var title = '+switch | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter

        p
          code.code
            | +switch

        p
          +switch

        p
          code.code
            | +switch(checked="true")

        p
          +switch(checked="true")

        hr

        p
          label.label.label--block.u-line-2
            +switch.u-float-right
            | With
            +_
            code.code
              | label

        hr
