mixin include(str)
  
  case str

    when 'box-usage-index'
      include /html_elements/lib/styles/blocks/box-usage-index

    when 'breadcrumbs'
      include /html_elements/lib/styles/blocks/breadcrumbs

    default
      return false
