include /html_elements/lib/main

-
  var title = '+select | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter

        h1
          | select

        p
          select
            option select
            option The quick brown fox jumps over a lazy dog

        p
          select.select
            option .select
            option The quick brown fox jumps over a lazy dog

        p
          +select
            option +select
            option The quick brown fox jumps over a lazy dog
