include /html_elements/lib

-
  var title = '.blockquote | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter

        h1 .blockquote

        blockquote.blockquote.blockquote--email
          p
            code.code
              | blockquote.blockquote.blockquote--email

          blockquote.blockquote.blockquote--email
            p
              | blockquote

            blockquote.blockquote.blockquote--email
              p
                | blockquote

              blockquote.blockquote.blockquote--email
                p
                  | blockquote
                p
                  | blockquote
