a
  link-default-style()

ul
ol
  padding-left 2rem

tbody
thead
tfoot
  vertical-align inherit

select
  max-width 100%

pre
  position relative
  box-sizing border-box
  width 100%
  word-wrap normal

[hidden]
  display none !important
