a
  link-default-style()

ul
ol
  padding-left 2rem

tbody
thead
tfoot
  vertical-align inherit

select
  max-width 100%

pre
  position relative
  overflow-x hidden
  overflow-y scroll
  word-wrap normal

[hidden]
  display none !important
