.code

  &:not(:root)
    position relative
    top -1px
    box-sizing border-box
    padding 0.1em 0.5em
    border 1px solid silver
    border-radius 4px
    font-family monospace
    font-size small
    background-color whitesmoke

  pre &:not(:root)
    position static
    display block
    padding 1.25em
    overflow-x scroll
    word-wrap normal
    line-height x-wide

    &:before
      content attr(data-lang)
      absolute 0 0 null null
      border-radius 0 4px 0 4px
      padding 0 1em
      color white
      font-size x-small
      background-color silver

  pre &&--dark
    border-color gray
    color white
    background-color dimgray

    &:before
      background-color gray
