include /html_elements/lib/main
include ../_foo

-
  var breadcrumbs = {
    items: [
      {
        text: 'Home',
        href: '/'
      },{
        text: 'foo',
        href: '/foo/'
      },{
        text: 'bar',
        href: false
      }
    ]
  }

+html
  +head
    +title
    +description
  +body
    .page
      .page__gutter
        +include("breadcrumbs")
        h1=foo
