.rating

  &:not(:root)
    cursor default

  & &__input
    display none

  & &__segue
    color gold

  & &__input:checked + &__segue &__segue
    color silver

  .no-touch &:not(&--readonly) &__input:checked + &__segue &__segue:hover
    color gold

  .no-touch &:not(&--readonly):hover &__segue
    color silver

  .no-touch &:not(&--readonly) &__segue:hover
    color gold

  & &__label
    display inline-block
    cursor pointer

    &--span
      cursor default

    &:before
      content "★"

    &--zero:before
      content "　"

  .no-touch &:not(&--readonly) &__label:active
    color darken(gold, 10%)
