.select

  select()
    display inline-block
    box-sizing border-box
    padding 0 0 0 0.4em
    border 1px solid
    border-radius $BUTTON_R
    height 2em
    max-width 100%
    overflow hidden
    appearance none
    vertical-align middle
    cursor pointer
    background-color white
    -webkit-font-smoothing antialiased

    &:focus
      outline none

  &:not(:root)
    select()

    &:not(select)
      position relative
      padding 0
      border 0
      border-radius 0

  & &__self
    select()

  & &__arrow
    absolute 0 0 null null
    box-sizing border-box
    border 1px solid
    border-radius 0 4px 4px 0
    size 1.6em 2em
    font-family icon-font
    pointer-events none
    background-color white

    &:before
      content "\f35f"
      display block
      padding-top 0.4em
      text-align center

  .no-pointer-events & &__arrow
    display none
