include /html_elements/lib

-
  var title = 'form | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter

        form

          dl
            dt
              label.label(for="input")
                | .input
            dd.div
              p
                input.input#input(type="input" placeholder="placeholder" value="")
                +_
                button.button(type="button")
                  | .button

          dl
            dt
              label.label(for="password")
                | password
            dd.div
              p
                input.input#password(type="password" value="")

          dl
            dt
              | +select
            dd.div
              p
                +select
                  option(value="") option
                  option(value="") The quick
                  option(value="") brown fox
                  option(value="") jumps over a lazy dog
                +_
                button.button(type="button")
                  | .button

          dl
            dt
              | +radio
            dd.div
              ul.ul.ul--narrow-gutter
                li.div
                  p
                    label.label
                      +radio(name="radio" value="" checked="true")
                      +_
                      | Radio
                li.div
                  p
                    label.label
                      +radio(name="radio" value="")
                      +_
                      | Radio
                li.div
                  p
                    label.label
                      +radio(name="radio" value="")
                      +_
                      | Radio

          dl
            dt
              | +checkbox
            dd.div
              ul.ul.ul--narrow-gutter
                li.div
                  p
                    label.label
                      +checkbox(name="checkbox" value="" checked="true")
                      +_
                      | Checkbox
                li.div
                  p
                    label.label
                      +checkbox(name="checkbox" value="")
                      +_
                      | Checkbox
                li.div
                  p
                    label.label
                      +checkbox(name="checkbox" value="")
                      +_
                      | Checkbox

          dl
            dt
              label.label(for="textarea")
                | .textarea
            dd.div
              p
                textarea.textarea#textarea(placeholder="placeholder" value="")

          p.u-text-center
            button.button(type="button")
              | .button
            button.button(type="button")
              | .button
