mixin head

  head&attributes(attributes)
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href=__root + "html_elements/bundle.css")
    script(src=__root + "html_elements/bundle.js" charset="utf-8")
    block
