.button

  :root &
    display inline-block
    box-sizing border-box
    padding 0 0.75em
    border 1px solid dimgray
    border-radius 5px
    color inherit
    text-decoration none
    line-height 2
    vertical-align middle
    background white
    appearance none
    -webkit-font-smoothing antialiased
    user-select none

    &:hover
    &:focus
    &:active
      outline none

  & + &
    margin-left 0.5rem
