.code

  :root &
    position relative
    top -1px
    box-sizing border-box
    padding 0.1em 0.5em
    border 1px solid silver
    border-radius 4px
    font-family monospace
    font-size small
    background-color whitesmoke
