:root

  .input
    box-sizing border-box
    padding 0
    width 10em
    border 1px solid
    border-radius 0
    font-family sans-serif
    vertical-align middle
    appearance none
    -webkit-font-smoothing antialiased

    &:focus
      outline none

    &::-moz-placeholder
      opacity 1
