:root

  .select
    box-sizing border-box
    padding 0
    border 1px solid
    border-radius 4px
    vertical-align middle
    cursor pointer
    background none
    appearance none
    -webkit-font-smoothing antialiased

    &:focus
      outline none
