.select

  select()
    display inline-block
    box-sizing border-box
    padding 0 0 0 0.4em
    border 1px solid
    border-radius 4px
    height 2em
    max-width 100%
    overflow hidden
    appearance none
    vertical-align middle
    cursor pointer
    background-color white
    -webkit-font-smoothing antialiased

    &:focus
      outline none

  :root &
    select()

    &:not(select)
      position relative
      padding 0
      border 0
      border-radius 0
      font-family icon-font

      &:before
      &:after
        box-sizing border-box
        size 1.6em 2em
        pointer-events none

      &:before
        content ""
        absolute 0 0 null null
        border 1px solid
        border-radius 0 4px 4px 0
        background-color white

      &:after
        content "\f35f"
        absolute 0 0 null null
        padding-top 0.4em
        text-align center

  & &__self
    select()
    font-family sans-serif
