.switch
  $r = 1em

  :root &
    position relative
    display inline-block
    border-radius $r
    size 4em 2em
    overflow hidden
    line-height 2em
    vertical-align middle

  & &__box
    absolute 0 null null 0
    z-index 1
    display block
    size 100%
    background-color silver
    transition 0.1s

  & &__bar
    absolute 0 null null 0
    z-index 2
    display block
    box-sizing border-box
    border 3px solid transparent
    border-radius $r
    size 2em
    background-color white
    background-clip padding-box
    transition 0.1s

  & &__self
    position relative
    z-index 3
    display block
    size 100%
    opacity 0
    cursor pointer

  & &__self:checked + &__box
    background-color gray

  & &__self:checked + &__box &__bar
    left 2em
