:root

  .textarea
    display block
    box-sizing border-box
    padding 0
    width 100%
    border 1px solid
    border-radius 0
    resize vertical
    appearance none
    -webkit-font-smoothing antialiased

    &:focus
      outline none
