include /html_elements/lib/main

-
  var title = 'smooth-scroll | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter
        ol
          li#top
            a(href="#bottom") To bottom
          - var i = 1
          while i < 99
            - ++i
            li
          li#bottom
            a(href="#top") To top
