.body
  height 100%
  color black
  font-family sans-serif
  font-size medium
  line-height narrow
  word-wrap break-word
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  &--lightgray
    background-color lightgray
