include /html_elements/lib/main

-
  var title = '+weak | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter
        p p
          | &nbsp;
          strong strong
        h1 h1
          | &nbsp;
          +weak +weak
