include /html_elements/lib/main

-
  var title = '+weak | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter

        p p
          +space
          strong strong

        h1 h1
          +space
          +weak +weak
