include /html_elements/lib/main

-
  var title = '.button | Usage'

+html
  +head
    +title
  +body
    +page
      .page__gutter

        p
          button
            | button

        p
          button.button
            | button.button

        p
          a.button(href="#")
            | a.button

        p
          a.button.button--link(href="#")
            | a.button.button--link

        p
          input.button(type="button" value="input.button")

        p
          input.button.button--link(type="button" value="input.button.button--link")
